<%# <%= will_paginate %>
 <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">  
    <div class="">  
        <div class="flex font-sans">
        <div class="flex-none w-48 relative">
            <%= image_tag("Grand THeft Auto V.webp", alt: "Mitten")  %>
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                GRAND THELF AUTO V
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $40.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                1
            </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <label>
                <input class="sr-only peer" name="category" type="radio" value="game" checked />
                <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                    Games
                </div>
                </label>
            </div>
            <div class="flex space-x-я4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                Add to bag
                </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
            </div>
            <p class="text-sm text-slate-700">
            Continue your journey on PS5™ and transfer your GTA Online characters and progression to PS5™ with a one-time migration.
            </p>
        </form>
        </div>
        <div class="">  
        <div class="flex font-sans">
        <div class="flex-none w-48 relative">
            <%= image_tag("Call of duty.webp", alt: "Game")  %>
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                CALL OF DUTY
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $76.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                2
            </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <label>
                <input class="sr-only peer" name="category" type="radio" value="game" checked />
                <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                    Games
                </div>
                </label>
            </div>
            <div class="flex space-x-я4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                Add to bag
                </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
            </div>
            <p class="text-sm text-slate-700">
            Call of Duty: Black Ops III combines three unique game modes: Campaign, Multiplayer, and Zombies, providing fans with the deepest and most ambitious Call of Duty ever.
            </p>
        </form>
        </div>
        <div class="">  
        <div class="flex font-sans">
        <div class="flex-none w-48 relative">
            <%= image_tag("WWE  2K23.avif", alt: "Game")  %>
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                WWE 2K23
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $50.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                3
            </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <label>
                <input class="sr-only peer" name="category" type="radio" value="game" checked />
                <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                    Games
                </div>
                </label>
            </div>
            <div class="flex space-x-я4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                Add to bag
                </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
            </div>
            <p class="text-sm text-slate-700">
            This game includes optional in-game purchases of virtual currency that can be used to acquire virtual in-game items, including a random selection of virtual in-game items.
            </p>
        </form>
        </div>
        <div class="">  
        <div class="flex font-sans">
        <div class="flex-none w-48 relative">
            <%= image_tag("The last of us.webp", alt: "Game")  %>
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                The LAST OF US
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $69.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                4
            </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <label>
                <input class="sr-only peer" name="category" type="radio" value="game" checked />
                <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                    Games
                </div>
                </label>
            </div>
            <div class="flex space-x-я4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                Add to bag
                </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
            </div>
            <p class="text-sm text-slate-700">
            Experience the emotional storytelling and unforgettable characters in The Last of Us, winner of over 200 Game of the Year awards, now rebuilt from the ground up for the PlayStation®5 console.
            </p>
        </form>
        </div>
        <div class="">  
        <div class="flex font-sans">
        <div class="flex-none w-48 relative">
            <%= image_tag("FIFA.webp", alt: "Game")  %>
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                FIFA
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $39.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                5
            </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <label>
                <input class="sr-only peer" name="category" type="radio" value="game" checked />
                <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                    Games
                </div>
                </label>
            </div>
            <div class="flex space-x-я4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                Add to bag
                </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
            </div>
            <p class="text-sm text-slate-700">
            This game includes optional in-game purchases of virtual currency that can be used to acquire virtual in-game items, including a random selection of virtual in-game items.
            </p>
        </form>
        </div>
        <div class="">  
        <div class="flex font-sans">
        <div class="flex-none w-48 relative">
            <%= image_tag("fortnite.webp", alt: "Game")  %>
        </div>
        <form class="flex-auto p-6">
            <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                FORTNITE
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $99.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                6
            </div>
            </div>
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <label>
                <input class="sr-only peer" name="category" type="radio" value="game" checked />
                <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                    Games
                </div>
                </label>
            </div>
            <div class="flex space-x-я4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                Add to bag
                </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
            </div>
            <p class="text-sm text-slate-700">
            Play both Battle Royale and Fortnite Creative for free or purchase access to Fortnite’s PvE Campaign mode, Save the World.
            </p>
        </form>
        </div>
</section>
<%# <%= will_paginate %>
<%# <nav aria-label="Page navigation">
  <ul class="inline-flex space-x-2">
    <li><button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path></svg></button>
    </li>
    <li><button class="w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">1</button></li>
    <li><button class="w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">2</button></li>
    <li><button class="w-10 h-10 text-white transition-colors duration-150 bg-indigo-600 border border-r-0 border-indigo-600 rounded-full focus:shadow-outline">3</button></li>
    <li><button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path></svg></button>
    </li>
  </ul>
</nav> %>
<%# <%= will_paginate %>
<%# <div id="products" class="min-w-full">
    <%= render partial: 'product' %>
<%# </div> %>
<%# l class="users">
<% @users.each do |user| %>
<%# <li>
<%= gravatar_for user, size: 50 %>
<%# <%= link_to user.name, user %>
<%# </li>
<% end %> 